// Project variables

// Fonts
$mainFont: mrs-eaves, serif;
$romanSmallFont: mrs-eaves-roman-small-caps, serif;
$romanPetiteFont: mrs-eaves-roman-all-petite-c, serif;
$fontAllSmallCaps: "mrs-eaves-roman-all-small-ca", serif;

// Font Weights
$regular: 400;
$bold: 700;

// Colors
$offBlack: #3D3635;
$cream: #F6F0ED;
$desertRose: #925246;
$content: #6f6664;

